<h3>Ng Switch Block</h3>
<ul *ngFor="let person of people" [ngSwitch]="person.age">
  <li *ngSwitchCase="'27'">
    <p class="text-danger">{{person.name}}</p>
    <p>{{person.dob}}</p>
  </li>
  <li *ngSwitchCase="'60'">
    <p class="text-primary">{{person.name}}</p>
    <p>{{person.dob}}</p>
  </li>
  <li *ngSwitchCase="'57'">
    <p class="text-success">{{person.name}}</p>
    <p>{{person.dob}}</p>
  </li>
  <li *ngSwitchDefault>
    <p class="text-muted">{{person.name}}</p>
    <p>{{person.dob}}</p>
  </li>
</ul>

